
.centered {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

#adclient {
    background-color: deepskyblue;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /*Ensures the footer stays above other elements */
}
